__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
forensic_v1.db
history.db
webapp/static/uploads/*
!webapp/static/uploads/.gitkeep
forensic_demo_results/
.ipynb_checkpoints/
*.pdf
models/*.pth
models/*.h5
